<!DOCTYPE html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--360浏览器优先以webkit内核解析-->
    <title>主页</title>
    <link th:href="@{/static/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/static/css/font-awesome.min.css}" rel="stylesheet"/>
    <link th:href="@{/static/css/main/animate.min.css}" rel="stylesheet"/>
    <link th:href="@{/static/css/main/style.min862f.css}" rel="stylesheet"/>
	<style>
		body{color: #454545;}
		h2{margin-bottom: 20px;}
		p{line-height: 30px;color: #888;margin: 10px auto}
		.business{display: flex;flex-wrap: wrap;margin: 30px 0;}
		.business img{margin-right: 20px;}
		.business div{line-height:24px;color:#888;font-size: 12px; min-width: 150px}
		.business b{font-size: 16px;display: block;color: #454545;padding:5px 0}

		ol>li{line-height: 26px;font-size: 14px;color: #666}
		@media screen and (max-width:1100px) {
			.business{margin: 10px 0;}
		}
	</style>
</head>

<body class="gray-bg">
	<H1>欢迎登陆！当前更新版本：2026-04-20版本</H1>


    <H2>更新日志</H2>
    <H4>2026-04-20版本：</H4>
    <H4>1.版本同步视图内容</H4><br/>
    <H4>2.本地拉取(外置拉取)文件夹命名增加年月，并且获取内容先删除旧文件内容再拉取</H4><br/>
    <H4>3.已知bug修复</H4><br/>
    <H4>2026-03-13版本：</H4>
    <H4>1.修正判断导致禁用账号</H4><br/>
    <H4>2026-03-02版本：</H4>
    <H4>1.修复定时任务因网络延迟导致的账号禁用</H4><br/>
    <H4>2.增加本地资源下载需windows服务器部署额外jar包（目前还在内测）</H4><br/>
    <H4>2026-01-29版本：</H4>
    <H4>1.增加更多开放api接口</H4><br/>
    <H4>2026-01-21版本：</H4>
    <H4>1.增加更新记录可以更清晰看到执行结果</H4><br/>
    <H4>2.历史同步增加指定页数拉取</H4><br/>
    <H4>2025-12-06版本：</H4>
    <H4>1.后台文章查看增加已读未读</H4><br/>
    <H4>2025-08-13版本：</H4>
    <H4>1.修复因接口更改，导致更新出错</H4><br/>
    <H4>2025-07-24版本：</H4>
    <H4>1.增加订阅源图标展示，单个公众号订阅源取公众号封面图，分类源可以自行上传封面</H4><br/>
    <H4>2025-07-22版本：</H4>
    <H4>1.修复分类接口/mpClassificationAtom 报错信息</H4>
</body>
</html>
